input[type=text] {
	text-align: center;
	font-size: 2.5em;
	color: black;
}

input {
	width: 98.9%;
	height:344px;
}

.goog {
	display: flex;
	justify-content: center;
}

.birdie {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.counter-box {
	background-color: #132452;
	border: 1px solid black;
	color: white;
}

.home {
	height: 22px;
	margin: 5px;
}

h2 {
 color: white;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  background-img: url("./assets/france.jpg");
}



#app {
  background-color: #132452;
  height: 500px;
  width: 60%;
  margin: 9%;
  align-self: flex-end; 
  text-align: center;   
  
}

.centered {
	text-align: center;
	color: white;
}

.card {
	background-color: #CC051C;
	width: 50%;

}

.container {
	
	background-color: #CC051C;
	height: 350px;
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	margin: auto;
	width: 100%;
}

.welcome {
	background-color: #132452;
	margin: 7%;
	height: 131px;
}

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 7%;

}