* {
  font-family: 'Quicksand', sans-serif;
}

h2 {
  color: white;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  background-color: black;

}

input[type=text] {
	text-align: center;
	font-size: 2.5em;
	color: black;
}

input {
	width: 98.5%;
	height:344px;
}

.logingoog {
	width: 50%;
}

.counter-box {
	background-color: #132452;
	border: 1px solid black;
	color: white;
	-moz-box-shadow: 0 0 15px white;
    -webkit-box-shadow: 0 0 15px white;
    box-shadow: 0 0 15px white;
}

.holder {
	-moz-box-shadow: 0 0 15px white;
    -webkit-box-shadow: 0 0 15px white;
    box-shadow: 0 0 15px white;
}

.home {
	height: 22px;
	margin: 5px;
}

#app {
  background-color: #132452;
  height: 500px;
  width: 60%;
  margin: 9%;
  align-self: flex-end; 
  text-align: center;   
  
}

.centered {
	text-align: center;
	color: white;
}

.card {
	background-color: #CC051C;
	width: 50%;

}

.container {
	
	background-color: #CC051C;
	height: 350px;
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	margin: auto;
	width: 100%;
	-moz-box-shadow: 0 0 15px white;
    -webkit-box-shadow: 0 0 15px white;
    box-shadow: 0 0 15px white;
}

.welcome {
	background-color: #132452;
	margin: 7%;
	height: 131px;
}

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 7%;

}

@media screen and (max-width: 800px) {
	#app {
		width: 100%;
		margin: 1%;
	}

}


.switch {
  margin: 10%;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #CC051C;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}