h2 {
 color: white;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  background-color: black;

}

input[type=text] {
	text-align: center;
	font-size: 2.5em;
	color: black;
}

input {
	width: 98.5%;
	height:344px;
}

.goog {
	display: flex;
	justify-content: center;
}

.counter-box {
	background-color: #132452;
	border: 1px solid black;
	color: white;
	-moz-box-shadow: 0 0 15px white;
    -webkit-box-shadow: 0 0 15px white;
    box-shadow: 0 0 15px white;
}

.holder {
		-moz-box-shadow: 0 0 15px white;
    -webkit-box-shadow: 0 0 15px white;
    box-shadow: 0 0 15px white;
}

.home {
	height: 22px;
	margin: 5px;
}

#app {
  background-color: #132452;
  height: 500px;
  width: 60%;
  margin: 9%;
  align-self: flex-end; 
  text-align: center;   
  
}

.centered {
	text-align: center;
	color: white;
}

.card {
	background-color: #CC051C;
	width: 50%;

}

.container {
	
	background-color: #CC051C;
	height: 350px;
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	margin: auto;
	width: 100%;
	-moz-box-shadow: 0 0 15px white;
    -webkit-box-shadow: 0 0 15px white;
    box-shadow: 0 0 15px white;
}

.welcome {
	background-color: #132452;
	margin: 7%;
	height: 131px;
}

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 7%;

}